[submodule "BEs/marketplace-common"]
	path = BEs/marketplace-common
	url = ../marketplace-common.git
	branch = main
[submodule "BEs/marketplace-db-setup"]
	path = BEs/marketplace-db-setup
	url = ../marketplace-db-setup.git
	branch = main
[submodule "BEs/dev/marketplace-dev-admin-authenticated-authorization"]
	path = BEs/dev/marketplace-dev-admin-authenticated-authorization
	url = ../marketplace-dev-admin-authenticated-authorization.git
	branch = main
[submodule "BEs/dev/marketplace-dev-admin-authenticated-resource"]
	path = BEs/dev/marketplace-dev-admin-authenticated-resource
	url = ../marketplace-dev-admin-authenticated-resource.git
	branch = main
[submodule "BEs/dev/marketplace-dev-authenticated-authorization"]
	path = BEs/dev/marketplace-dev-authenticated-authorization
	url = ../marketplace-dev-authenticated-authorization.git
	branch = main
[submodule "BEs/dev/marketplace-dev-authenticated-logout"]
	path = BEs/dev/marketplace-dev-authenticated-logout
	url = ../marketplace-dev-authenticated-logout.git
	branch = main
[submodule "BEs/dev/marketplace-dev-authenticated-resource"]
	path = BEs/dev/marketplace-dev-authenticated-resource
	url = ../marketplace-dev-authenticated-resource.git
	branch = main
[submodule "BEs/dev/marketplace-dev-public-authorization"]
	path = BEs/dev/marketplace-dev-public-authorization
	url = ../marketplace-dev-public-authorization.git
	branch = main
[submodule "BEs/dev/marketplace-dev-public-resource"]
	path = BEs/dev/marketplace-dev-public-resource
	url = ../marketplace-dev-public-resource.git
	branch = main
[submodule "BEs/dev/marketplace-dev-user-authenticated-authorization"]
	path = BEs/dev/marketplace-dev-user-authenticated-authorization
	url = ../marketplace-dev-user-authenticated-authorization.git
	branch = main
[submodule "BEs/dev/marketplace-dev-user-authenticated-resource"]
	path = BEs/dev/marketplace-dev-user-authenticated-resource
	url = ../marketplace-dev-user-authenticated-resource.git
	branch = main
[submodule "marketplace-admin"]
	path = marketplace-admin
	url = ../marketplace-admin.git
	branch = main
[submodule "marketplace-nginx"]
	path = marketplace-nginx
	url = ../marketplace-nginx.git
	branch = main
[submodule "marketplace-shopowner"]
	path = marketplace-shopowner
	url = ../marketplace-shopowner.git
	branch = main
[submodule "marketplace-user"]
	path = marketplace-user
	url = ../marketplace-user.git
	branch = main
